/* CSS перемены цвета для удобной замены цвета в случаи изминения дизайна*/
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --blake-color: #000000;
  --border-lab-color: #afb1b8;
  --icon-and-section-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --shadow-bg-color: rgba(47, 48, 58, 0.8);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --property-color: rgba(255, 255, 255, 0.4);
  --border-color: rgba(255, 255, 255, 0.1);
  --border-card-color: #eeeeee;
  --border-head-color: #ececec;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

/* Общие настройки */
.page {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;

  /* Вариант для фиксированой шапки */
  /* z-index: 2;
  padding-top: 80px; */
}

/* Утелиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.no-padding {
  padding-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */

/* Вариант для фиксированой шапки */
/* header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
} */

.logo {
  margin-right: 85px;

  color: var(--blake-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo--color {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-head-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.sait-nav {
  display: flex;
}

.sait-nav__item:not(:last-child) {
  margin-right: 50px;
}

.sait-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  
  font-weight: 500;
  letter-spacing: 0.02em;

}

.sait-nav__link:hover,
.sait-nav__link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}

.sait-nav__link--current {
  color: var(--accent-color);
}

.sait-nav__link::after {
  position: absolute; 
  content: "";
  display: block;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;

  display: none;


 /* Вариант трансформации подчеркиванья 
  opacity: 0;
  transition: opacity 250ms var(--timing-function); */
} 

/* .current:hover::after,
.current:focus::after {
  opacity: 1;
} */

.sait-nav__link--current::after,
.sait-nav__link--current::after {
  display: block;
}

.auth-nav {
  display: flex;

  margin-left: auto;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__item--position {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth-nav__icon--size-email {
  width: 16px;
  height: 12px;
}

.auth-nav__icon--size-phone {
  width: 10px;
  height: 15px;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--timing-function);
}

.auth-nav__email,
.auth-nav__phone {
  color: var(--text-color);
  transition: color 250ms var(--timing-function);
}

.auth-nav__item--position:hover .auth-nav__email,
.auth-nav__item--position:hover .auth-nav__phone  {
  color: var(--accent-color);
}
.auth-nav__item--position:hover .auth-nav__icon {
  fill: var(--accent-color);
}

.auth-nav__email:focus ,
.auth-nav__phone:focus {
  color: var(--accent-color);
}

/* Уникальний контент index.html */

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;

  background-color: var(--text-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/BG/BGoffice-light.jpg);
  background-size: cover;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero__title {
  width: 770px;

  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}


/* Section #2 */
.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;

  text-transform: uppercase;
}

.benefits {
  display: flex;
}

.benefits__bg-icon {
  width: 270px;
  height: 120px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  background-color: var(--icon-and-section-bg-color);
}

/* .benefits__item::before {
  display: block;
  content: "";
  height: 120px;

  background-color: var(--icon-and-section-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__item:nth-child(1)::before {
  background-image: url(../images/Icon/antenna.svg);
}

.benefits__item:nth-child(2)::before {
  background-image: url(../images/Icon/clock.svg);
}
.benefits__item:nth-child(3)::before {
  background-image: url(../images/Icon/diagram.svg);
}

.benefits__item:nth-child(4)::before {
  background-image: url(../images/Icon/astronaut.svg);
}*/

.benefits__item:not(:last-child) {
  margin-right: 30px;
} 

.benefits__text {
  width: 270px;

  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-color);

  line-height: 1.71;
}

/* Section #3 */
.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.service {
  display: flex;
}

.service__item:not(:last-child) {
  margin-right: 30px;
}

.service__title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--white-color);

  text-align: center;
  text-transform: uppercase;
}

/* Позиционирование елементов Section #3 */

.service__card {
  position: relative;
  display: block;
}

.service__card::before {
  position: absolute;
  content: "";
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 370px;
  height: 70px;
    
  background-color: rgba(47, 48, 58, 0.8);
}

.service__card--title {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 370px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Section #4 */
.section--team {
  background-color: var(--icon-and-section-bg-color);
}

.team-member {
  display: flex;
}

.team-member__item:not(:last-child) {
  margin-right: 30px;
}

.team-member__item--shadow {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-member__card {
  width: 270px;

  border-right: 1px solid var(--border-card-color);
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  padding-top: 30px;
  padding-bottom: 24px;

  background: var(--white-color);
}

.team-member__name {
  margin-top: 0;
  margin-bottom: 10px;
  

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-member__position {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--text-color);

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}


/* ??????????????????????? */
.team-flex {
  display: flex;
  justify-content: center;
}
/* ????????????????????????????????????????? */


.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__label {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--border-lab-color);

  width: 44px;
  height: 44px;
  border-radius: 50%;
}

 .social-icons__label:hover {
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function),
  fill 250ms var(--timing-function);
} 

.social-icons__svg {
  fill: var(--border-lab-color);
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
 
.social-icons__label:hover .social-icons__svg {
  --color3: var(--white-color);
}

/* Section #5 */
.label-list {
  display: flex;
}

.label-list__item:not(:last-child) {
  margin-right: 30px;
}

.label-list__border {
  display: flex;
  border: 1px solid var(--border-lab-color);
  border-radius: 4px;

  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
}

.label-list__img {
  fill: var(--border-lab-color);
  transition: fill 250ms var(--timing-function);
}

.label-list__border:hover {
  border-color: var(--accent-color);
  transition: border-color 250ms var(--timing-function);
}

.label-list__border:hover .label-list__img {
  fill: var(--accent-color);
}





/* Footer */

.address-footer {
  margin-right: 69px;
  padding-bottom: 28px;
}

.address-footer__logo {
  display: block;
  margin-bottom: 8px;

  color: var(--white-color);
}

.contacts {
  color: var(--footer-contacts-color);

  line-height: 1.71;
}

.contacts__item {
  color: var(--white-color);

  font-style: normal;
}

.social-icons__join,
.form__label--title {
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);

  text-transform: uppercase;
}

.social-icons--footer {
  padding-bottom: 56px;
  margin-right: 90px
}

.soc-icon-list {
  display: flex;
}

.social-icons__list:not(:last-child) {
  margin-right: 10px;
}

.social-icons__list {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.form__label {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
}

.form__input {
  width: 358px;
  height: 50px;
  background-color:var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form__submit {
  display: inline-flex;
  
  width: 200px;
  height: 50px;

  justify-content: center;
  align-items: center;
  
  margin-left: 12.5px;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 
  color: var(--white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

.form__submit::after {
  content: "";
  display: inline-block;
 
  width: 24px;
  height: 24px;
  
  margin-left: 10px;
  background-image: url(../images/SmallIcon/IconSend.svg);
}

.form__submit--title {
  display: flex;
  align-items: center;

  color: var(--white-color);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.property {
  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid var(--border-color);

  color: var(--property-color);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Footer BG color*/
.footer-bg {
  background-color: var(--footer-bg-color);
}

/* Флекс футера */
.footer--flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 48px;
}

.footer--form {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
}





/* Модальное окно */

.backdropd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--timing-function);

  opacity: 1;
}

.backdropd--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  
  min-width: 528px;
  min-height: 581px;

  padding-top: 40px;
    
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--timing-function);
}

.backdropd--hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__button--clouse {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(30%, -25%);

  width: 30px;
  height: 30px;

  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border: none;

  background-image: url(../images/SmallIcon/close-black.svg);
  background-repeat:no-repeat;
  background-position: center;
  cursor: pointer;
}
  
.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.modal__field {
  display: flex;
  position: relative;
  flex-direction: column;
   
  width: 448px;

  margin-left: 40px;
  margin-right: 40px; 
  margin-bottom: 28px;
  
}

.modal__label {
  position: absolute;
  
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  color: var(--text-color);
  letter-spacing: 0.01em;
  
  transition: transform 250ms var(--timing-function),
  color 250ms var(--timing-function);
}

.modal__input {
  margin: 0;
  padding: 12px;
  padding-left: 41px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
 
  letter-spacing: 0.01em;
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  
  width: 18px;
  height: 18px;

  transition: fill 250ms var(--timing-function);
}

.modal__textarea {
  resize: none;
  
  display: flex;
  flex-direction: column;
  
  padding: 16px 12px;
  margin-left: 40px;
  margin-right: 40px; 
  margin-bottom: 20px;
  
  width: 448px;
 
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-checkbox {
  display: flex;
  align-items: center;
 
  margin-left: 53px;
  margin-right: 52px;
  margin-bottom: 30px;
}

.modal-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;  
}

.modal-checkbox__label {
  display: inline-block;
    
  color: var(--text-color);

  letter-spacing: 0.03em;
}

.modal-checkbox__label--link {
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

/* Кастомный checkbox */
.modal-checkbox__input--customm {
  display: inline-block;
  width: 15px;
  height: 15px;

  margin-right: 8px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  
  transition: background-color 250ms var(--timing-function), 
  border-color 250ms var(--timing-function);
 
}

.modal-checkbox__input:checked + .modal-checkbox__input--customm {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/SmallIcon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
 }

.modal__button--submit {
  display: block;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 10px 56px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Модальное окно focus*/

.modal__field:focus-within > .modal__svg {
 fill: var(--accent-color);
}

.modal__field:focus-within > .modal__label {
  color: var(--accent-color);
  transform: translate(-70%, -300%);
 }

 .modal__input:not(:placeholder-shown) ~ .modal__label {
  transform: translate(-70%, -300%);
 }

 .modal__field:focus-within > .modal__input,
 .modal__textarea:focus  {
  border: 1px solid var(--accent-color);
  outline: 0;
} 

/* Уникальний контент portfolio.html */
.product-card {
  transition: box-shadow 250ms var(--timing-function);
}

.product-card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card__meta {
  width: 370px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  

  border-right: 1px solid var(--border-card-color);
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
}

/* Позиционирование елементов portfolio-cards*/

.product-card__thumb {
  position: relative;
  overflow: hidden;
  }
  
.product-card__thumb::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: transform 250ms var(--timing-function),
  opacity 500ms var(--timing-function);

  width: 100%;
  height: 100%;
  
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
  
.product-card__thumb:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function), 
  opacity 500ms var(--timing-function);
       
  opacity: 0;
}
  
.product-card__thumb:hover .product-card__overlay {
  opacity: 1;
  transform: translateY(0%); 
}

/* Флекс кнопок портфолио */
.head-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.head-button__item:not(:last-child) {
  margin-right: 8px;
}

/* Флекс елементов портфолио */
.examples-product {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product-card__title {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-card__outline {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-color);

  font-size: 16px;
  line-height: 1.94;
}

.product-card__popup {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  color: var(--white-color);

  font-size: 18px;
  line-height: 1.67;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms var(--timing-function),
  color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

  border-radius: 4px;
  border: none;
  cursor: pointer; 
}

.button--first {
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}
